body {
    background-color: #F5F5F5;
}

.title{
    width: 100%;
    margin: auto;
    /* background-color: red; */
    text-align: center;
  }

  .sub-title{
    width: 300px;
    margin: auto;
    padding-top: 10px;
    /* background-color: red; */
    text-align: center;
  }

  #caseSalaryChart {
      width: 90%;
      margin: auto;
  }

  #Gaming_eCommerceIndustryChart{
      width: 90%;
      margin: auto;
  }

  #genderChart{
      width: 90%;
      margin: auto;
  }

  #salaryDistributed{
      width: 90%;
      margin: auto;
  }